<div style="padding: 30px; background-color: black;"></div>
<div align="center" style="background-color: black; color: gold; font-size: 50px; bold-weight: bold; padding: 20px;">★최종 결과★</div>

<center>
    <div class="col-md-12" style="background-image: url('/img/indoor/<%= @choice_8 %>.jpg'); background-size: 100% 100%; background-repeat: no-repeat; color: white; padding: 300px; font-size: 30px;"><%= @choice_8 %></div>
    <%= @choice_8%>

</center>
