<div style="background-image: url('/img/yolo.jpg'); background-repeat: no-repeat; background-size: 100% 100%; background-position: 0px -200px; padding-top: 400px; padding-bottom: 700px;">
<div align="center" style="font-size: 70px; color: white;">오늘 나는 <span style="border: 5px solid white;"><a href="/hobbies/set_A">　　　　</a></span>를(을) 하고 싶다.</div>
</div>