// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face { font-family: 'MiraenJilee'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.2/MiraenJileeV17.woff') format('woff'); font-weight: normal; font-style: normal; }
 * { font-family: 'MiraenJilee'; }